<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
		
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			font-family: 'Roboto', sans-serif;
		}

		h2 {
			margin-bottom: 30px;
		}

		.post {
			margin: 45px 0px;
		}

		article p, .question ol > li, span{
			font-size: 12px;
		}

		article  {
			margin: 15px 80px;
		} 

		article h3 {
			margin: 15px 0 15px 0;
		}

		.question ol {
			margin: 9px 0px;
		}

		.question ol > li {
    		margin-left: 15px;
		}

		.post img {
			display: block;
			margin: 25px auto;
		}

		.post figcaption {
			text-align: center;
		}

		.question {
			margin-bottom: 15px;
		}
	
		
	</style>
</head>
<body>
	<article>
		<h2>Astrofono</h2>
		<% posts.forEach( post => { %>
			<section class="post">
				<h3 class="titulo"><%= post.titulo %></h3>
				<p align="justify" class="conteudo"><%= post.conteudo %></p>
				<% if(post.files.length !== 0) { %>
					<%  post.files.forEach (file => { %>
						<figure>
							<img src="public/images/<%= file %>" 
							alt="Trulli" width="250" height="250" >
							<figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
						</figure>
					<% }) %>
				<% } %>	
			</section>
		<% }) %>
		<h3>Respostas do quiz</h3>
		<% questions.forEach((question, index) => { %>
			<section class="question">
				<p><%= index+1 + " - " + question.question %></p>
				<ol style="list-style-type: lower-latin">
					<% question.options.forEach( option => { %>
						<li><%= option %></li>
					<% }) %>
				</ol>
				<span>Resposta:</span>
				<span><%= question.answer %></span>
			</section>
		<% }) %>
	</article>
</body>
</html>