<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title></title>
</head>
<body>
	<article>
		<h2>Astrofono</h2>
		<% posts.forEach( post => { %>
			<section class="post">
				<h3 class="titulo"><%= post.titulo %></h3>
				<p align="justify" class="conteudo"><%= post.conteudo %></p>
				<% if(post.files.length !== 0) { %>
					<%  post.files.forEach (file => { %>
						<figure>
							<img src="/images/<%= file.filename %>" 
							alt="<%= file.alt %>" width="225" height="225" >
							<figcaption><%= file.description %></figcaption>
						</figure>
					<% }) %>
				<% } %>	
			</section>
		<% }) %>
		<h3>Respostas do quiz</h3>
		<% questions.forEach((question, index) => { %>
			<section class="question">
				<p><%= index+1 + " - " + question.question %></p>
				<ol style="list-style-type: lower-latin">
					<% question.options.forEach( option => { %>
						<li><%= option %></li>
					<% }) %>
				</ol>
				<span>Resposta:</span>
				<span><%= question.answer %></span>
			</section>
		<% }) %>
	</article>
</body>
</html>